* {
    padding: 0;
    margin: 0;
}

.hidden {
    visibility: hidden;
}

/* .horizontal-display {
    display: flex;
    direction: row;
    justify-content: center;
} */

.title-menu {
    /* For the menu */
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: baseline;
    padding: 1.4em;
    margin-bottom: 2em;
    background-color: rgb(25, 118, 210);
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000, 1px 1px 10px #141414;
    color: #fff;
    background-color: #2e8ece;
}

.button-menu {
    background-color: #1976d2;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    color: #f9f9f9;
    font-size: 1.5em;
    margin: 1em;
    max-width: 10em;
    padding: 0.7em;
    transition: 0.2s;
    width: 350px;
    height: 120px;
}

.button-menu:hover {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.18);
    transform: scale(1.02);
}

.button-menu:active {
    /*background-color: #004ba0;*/
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3);
    transform: scale(0.96);
}

.exit-button {
    background-color: #1976d2;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    color: #f9f9f9;
    font-size: 1.5em;
    margin: 1em;
    padding: 0.7em;
    transition: 0.2s;
    width: 39.6%;
    height: 80px;
    border: 4px solid blue;
}

.exit-button:hover {
    transform: scale(1.02);
}

.exit-button:active {
    transform: scale(0.96);
}

.second-title {
    width: 80%;
    height: 40px;
    background-color: rgb(25, 118, 210);
    color: #f9f9f9;
    font-size: 1.5em;
    margin: 1em;
    padding: 0.7em;
    justify-content: center;
}

.input-name-flipper {
    width: 80%;
    height: 40px;
    background-color: rgb(153, 178, 204);
    color: #f9f9f9;
    font-size: 1.5em;
    border: 4px solid blue;
    border-radius: 6px;
    margin: 1em;
    padding: 0.7em;
    transition: 0.2s;
    justify-content: center;
}

input::placeholder {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}

.input-fileName::placeholder {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}

.editor {
    display: flex;
    width: 100%;
}

.ruleslist {
    flex-direction: row;
    float: left;
    border: solid rgb(25, 118, 210);
    border-right-width: 0px;
    width: 30%;
}

.rule {
    flex-direction: row;
    border: solid rgb(25, 118, 210);
    left: 30%;
    width: 70%;
    text-align: center;
}

.block {
    border: solid rgb(25, 118, 210);
    margin: 5px;
    padding: 5px;
    left: 30%;
    width: 60%;
    text-align: center;
    margin-bottom: 2%;
    align-items: center;
}

.block-list {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.block-button {
    background-color: #1976d2;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    color: #f9f9f9;
    font-size: 1.5em;
    margin: 1em;
    padding: 0.1em;
    transition: 0.2s;
    width: 45%;
    height: 10%;
}

.block-button:hover {
    transform: scale(1.02);
}

.block-button:active {
    transform: scale(0.96);
}

.block-title {
    text-align: center;
    font-weight: bold;
    color: #1976d2;
    border: none;
    border-radius: 5px;
    font-size: 2em;
    margin: 1em;
    padding: 0.1em;
    width: 45%;
    height: 5%;
}

.block-label {
    text-align: center;
    font-weight: bold;
    margin-right: 30%;
    margin-left: 30%;
    color: rgb(25, 118, 210);
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    margin: 1em;
    padding: 0.1em;
    transition: 0.2s;
    width: 45%;
    height: 5%;
}

.block-input {
    width: 150%;
    height: 10%;
    background-color: rgb(153, 178, 204);
    color: #f9f9f9;
    font-size: 1.5em;
    border: 4px solid rgb(53, 123, 151);
    border-radius: 6px;
    margin: 0.3em;
    padding: 0.1em;
    transition: 0.2s;
    justify-content: center;
}

.sectionTitle {
    width: 40%;
    height: 8%;
    background-color: rgb(153, 178, 204);
    color: #f9f9f9;
    font-size: 1.5em;
    border: 4px solid blue;
    border-radius: 6px;
    margin-left: 10.7%;
    padding: 0.7em;
    margin-bottom: 2%;
    transition: 0.2s;
    justify-content: center;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

.modal {
    font-size: 12px;
}
.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.modal > .content {
    width: 100%;
    padding: 10px 5px;
}
.modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

body {
    background-color: #f5f5f5;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.stack-display {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divFile {
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 0.7em;
    width: 100%;
    height: 40%;
}

.list-flippers-fileSelection {
    background-color: rgb(25, 118, 210);
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 0.7em;
    transition: 0.2s;
    width: 50%;
    height: 8%;
    color: #ffffff;
    text-align: center;
    margin-bottom: 5%;
    margin-left: 20%;
}

.list-flippers-fileSelection:hover {
    transform: scale(1.02);
}

.list-flippers-fileSelection:active {
    transform: scale(0.96);
}

.delete-rule {
    width: 10%;
    height: 5%;
    background-color: rgb(207, 48, 48);
    color: #f9f9f9;
    font-size: 1em;
    margin-left: 3%;
    padding: 0.7em;
    justify-content: center;
    border: 4px solid rgb(184, 29, 29);
    border-radius: 6px;
    transition: 0.2s;
}

.delete-rule:hover {
    transform: scale(1.02);
}

.delete-rule:active {
    transform: scale(0.96);
}

.delete-file {
    width: 10%;
    height: 5%;
    background-color: rgb(207, 48, 48);
    color: #f9f9f9;
    font-size: 1em;
    margin-left: 3%;
    padding: 0.7em;
    justify-content: center;
    border: 4px solid rgb(184, 29, 29);
    border-radius: 6px;
    transition: 0.2s;
}

.delete-file:hover {
    transform: scale(1.02);
}

.delete-file:active {
    transform: scale(0.96);
}

.delete-flipper {
    background-color: rgb(207, 48, 48);
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    margin-left: 44%;
    margin-top: 1%;
    margin-bottom: 2%;
    width: 10%;
    height: 10%;
    color: #ffffff;
    text-align: center;
    border: 4px solid rgb(184, 29, 29);
    border-radius: 6px;
    transition: 0.2s;
}

.delete-flipper:hover {
    transform: scale(1.02);
}

.delete-flipper:active {
    transform: scale(0.96);
}

.error-noruleselected {
    margin: 4em;
    font-size: 1.5em;
}

.sub-title-createrules {
    width: 80%;
    height: 40px;
    background-color: #1976d2;
    border: 4px solid blue;
    border-radius: 6px;
    color: #f9f9f9;
    margin-right: 2.7%;
    margin-bottom: 3%;
    font-size: 1.5em;
    margin-top: 1%;
    padding: 0.7em;
}

.input-fileName {
    width: 80%;
    height: 40px;
    background-color: rgb(153, 178, 204);
    color: #f9f9f9;
    font-size: 1.5em;
    border: 4px solid blue;
    border-radius: 6px;
    margin-left: 5%;
    margin-bottom: 1%;
    margin-top: 3%;
    padding: 0.7em;
    transition: 0.2s;
    justify-content: center;
}

.input-blockd {
    width: 80%;
    height: 40px;
    background-color: rgb(153, 178, 204);
    color: #f9f9f9;
    font-size: 1.5em;
    border: 4px solid blue;
    border-radius: 6px;
    margin-left: 5%;
    padding: 0.7em;
    margin-bottom: 2%;
    transition: 0.2s;
    justify-content: center;
}

.button-block {
    width: 60%;
    height: 6%;
    background-color: rgb(25, 118, 210);
    color: #f9f9f9;
    font-size: 1.5em;
    padding: 0.7em;
    margin-bottom: 1%;
    border: 4px solid blue;
    border-radius: 10px;
    margin-left: 15%;
    transition: 0.2s;
    justify-content: center;
}

.button-block:hover {
    transform: scale(1.02);
}

.button-block:active {
    transform: scale(0.96);
}

.button-save-creationrules {
    width: 40%;
    height: 2%;
    background-color: rgb(25, 118, 210);
    color: #f9f9f9;
    font-size: 1.5em;
    margin-bottom: 12%;
    margin-left: 5%;
    padding: 0.7em;
    transition: 0.2s;
    border: 4px solid blue;
    border-radius: 6px;
    justify-content: center;
}

.button-save-creationrules:hover {
    transform: scale(1.02);
}

.button-save-creationrules:active {
    transform: scale(0.96);
}

.fileName {
    /* RulesList.js */
    width: 350px;
    height: 60px;
    background-color: rgb(25, 118, 210);
    color: #f9f9f9;
    font-size: 1.5em;
    margin: 1em;
    padding: 0.7em;
    transition: 0.2s;
    justify-content: center;
}

.plus-button {
    background-color: #1976d2;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    color: #f9f9f9;
    font-size: 1.5em;
    margin: 1em;
    padding: 0.1em;
    transition: 0.2s;
    width: 45%;
    height: 10%;
}

.plus-button:hover {
    transform: scale(1.02);
}

.plus-button:active {
    transform: scale(0.96);
}

.send-button {
    background-color: #1976d2;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    color: #f9f9f9;
    font-size: 1.5em;
    margin: 1em;
    width: 10%;
    height: 5%;
}

.send-button:hover {
    transform: scale(1.02);
}

.send-button:active {
    transform: scale(0.96);
}

.label-flipper {
    margin: 2%;
    font-size: 1.5em;
}

.input-flipper {
    width: 15%;
    height: 2%;
    background-color: rgb(153, 178, 204);
    color: #f9f9f9;
    font-size: 1.5em;
    border: 4px solid blue;
    border-radius: 6px;
}

.img {
    background-repeat: no-repeat;
    width: 80px;
    height: 103px;
    padding: 0;
}

.third-title {
    width: 30%;
    height: 5%;
    background-color: rgb(25, 118, 210);
    color: #f9f9f9;
    font-size: 1.5em;
    margin: 1em;
    padding: 0.7em;
    justify-content: center;
}

.button-select {
    width: 10%;
    height: 5%;
    background-color: rgb(25, 118, 210);
    color: #f9f9f9;
    font-size: 1.5em;
    margin: 1em;
    padding: 0.7em;
    justify-content: center;
    border: 4px solid blue;
    border-radius: 6px;
    transition: 0.2s;
}

.button-select:hover {
    transform: scale(1.02);
}

.button-select:active {
    transform: scale(0.96);
}

.exit-button-file {
    background-color: #1976d2;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    color: #f9f9f9;
    font-size: 2.5em;
    padding: 0.7em;
    transition: 0.2s;
    width: 80%;
    height: 15%;
    margin-left: 10%;
    margin-bottom: 3%;
    border: 4px solid blue;
}

.exit-button-file:hover {
    transform: scale(1.02);
}

.exit-button-file:active {
    transform: scale(0.96);
}

.fourth-title {
    width: 25%;
    height: 5%;
    background-color: rgb(25, 118, 210);
    color: #f9f9f9;
    font-size: 1.5em;
    padding: 0.7em;
    margin-left: 36%;
    text-align: center;
}

.list {
    width: 100%;
}

.img-flipper {
    margin-top: 1%;
    margin-left: 46.5%;
}

.sectionTitle-creationRules {
    width: 40%;
    height: 8%;
    background-color: rgb(153, 178, 204);
    color: #f9f9f9;
    font-size: 1.5em;
    border: 4px solid blue;
    border-radius: 6px;
    margin-left: 27.5%;
    padding: 0.7em;
    margin-bottom: 2%;
    transition: 0.2s;
    justify-content: center;
}
